{% extends 'base.html' %} {% block content %}
<style>
  p {
    margin: 2rem 0;
    font-size: 1.1rem;
  }
</style>
<main style="text-align: center">
  <h1 style="font-weight: 300">The purpose of this web app</h1>
  <div style="margin: 2rem 0">
    <p>This web app serves as my daily journal so i could write my thoughts good or bad</p>

    <p>
      There are days that i have trouble expressing emotions so this is one way i thought that could
      help me let it out.
    </p>
  </div>
</main>

{% endblock %}
